.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overflow issues */
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: lightgrey;
  height: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh); /* Subtract the navbar height */
  margin-top: 56px; /* Ensure content is pushed below navbar */
  overflow: hidden;
}

.treeview-container {
  width: 30%; /* Treeview occupies 30% of the screen width */
  height: 100%;
  overflow-y: auto; /* Allows scrolling if content overflows */
  border-right: 1px solid #ddd;
  padding: 10px;
}

.flow-container {
  flex-grow: 1; /* Remaining space is used by the flow container */
  height: 100%;
  overflow: hidden;
  background-color: #e6f7ff;
}
